<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Navigator</title>
    <link href="~/vendor/vendor.css" rel="stylesheet" />
    <script src="~/vendor/vendor.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">People Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            @*<p class="nav navbar-text navbar-right"><i class="fas fa-user"></i> @User.Identity.Name</p>*@
            @await  Component.InvokeAsync(nameof(CurrentUserComponent))
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
