input.error {
    border: 1px solid red;
  }
  
  label.error {
    font-weight: normal;
    color: red;
  }

  a {
    color: #fff;
    }
  
    a:hover {
        color: #fffff0 ;
        }
