<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">People Finder</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search CWOPA Active Directory" id="searchInput">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="searchBtn" type="button">Search</button>
            </div>
        </div>
    </div>
</div>
<div id="peopleContainer"></div>
<script src="~/webpack/app.bundle.js"></script>
