<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">
            People Finder
            <button class="btn btn-secondary btn-circle btn-circle-lg m-1 faa-parent animated-hover"
                    data-toggle="modal" data-target="#searchModal">
                <i class="fas fa-question fa-2x faa-vertical"></i>
            </button>
        </h1>

        <form asp-controller="ExcelExport" asp-action="Index" id="searchForm">
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       name="search" placeholder="Search CWOPA Active Directory"
                       id="searchInput"
                       list="searchList">
                 <datalist id="searchList"></datalist>
                 <div class="input-group-append">
                     <button class="btn btn-outline-secondary" id="searchBtn" type="button">
                         <i class="fas fa-search"></i> Search
                     </button>
                     <button class="btn btn-outline-secondary" id="clearBtn" type="button">
                         <i class="fas fa-times-circle"></i> Clear
                     </button>
                     <button class="btn btn-outline-secondary" type="submit">
                         <i class="fas fa-file-excel"></i> Export
                     </button>
                 </div>
            </div>
        </form>
    </div>
</div>
<div id="peopleContainer"></div>
<!-- The Modal -->
<div class="modal" id="searchModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Welcome to People Seach</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                You may search by first name, last name, or a full name.  You may
                also search by many other fields including email address, agency, division, job, deputate, bureau, org ids or org name.
                Enter your search criteria, click search and use the previous and next buttons to navigate the results.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script src="~/webpack/app.bundle.js" asp-append-version="true"></script>

