<li>
  {{this.emP_FIRST_NAME}} {{this.emP_LAST_NAME}} (
    <a href="#" class="searchable">{{this.poS_NO}}</a>    
    )
  <ul>
    {{#each this.children}}
      {{> person}}
    {{/each}}
  </ul>
</li>